/* core structure style */

/***********************************
*           HTML Tags              *
************************************/
html {
  height: 100%;
}
body {
  display: block;
  height: 100%;
  margin: 0;
  font-family: "Courier New";
}

/***********************************
*           Wrappers               *
************************************/
#wrapper {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}

/***********************************
*             Top Bar              *
************************************/
#top-bar {
  display: block;
  width: 100%;
  height: 5%;
  background-color: #89bdd3;
  color: #fff;
}
.top-bar-component {
    box-sizing: border-box;
}

#left-top {
    width: 10%;
    display: inline-block;
    float: left;
}
.left-top-component {
    display: inline-block;
    padding: 8px 2px;
}
#icon-about {}
#icon-settings {}
#icon-apps {}

#middle-top {
    width: 70%;
    display: inline-block;
    float: left;
    padding: 8px;
}

#right-top {
    width: 20%;
    display: inline-block;
    float: left;
    text-align: right;
}
.right-top-component {
    display: inline-block;
    padding: 8px;

}
#time-date {}
#icon-expand {}

/***********************************
*            Workspace             *
************************************/
#workspace {
  display: block;
  width: 100%;
  height: 95%;
  background-color: #e3e3e3;
}

/***********************************
*          Window Frame            *
************************************/
#window-frame {}

#window-frame-top-bar {}

#window-frame-workspace {}

/***********************************
*          Media Queries           *
************************************/
/*****Laptop/Desktop*****/
@media (min-width: 1025px) { }

/*****Tablet-portrait*****/
@media (min-width: 768px) and (max-width: 1024px) { }

/*****Tablet-landscape*****/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) { }

/*****Low Res Tablet, Phone-landscape*****/
@media (min-width: 481px) and (max-width: 767px) { }

/*****Phone-portrait*****/
@media (min-width: 320px) and (max-width: 480px) { }
